<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iyashwant.spiderprojectprototype">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- splash screen -->
        <activity android:name=".app_startup.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- starting screen -->
        <activity
            android:name=".app_startup.Login2"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".app_startup.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" />


        <!-- registration -->
        <activity
            android:name=".registration.signup"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".registration.signup2"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".registration.signup3"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".registration.Verification"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".registration.signup3client"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".registration.signupclient"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".ForgotPasswordPopUp"
            android:theme="@style/AppTheme.CustomTheme" />


        <!-- Facebook SDK Integration -->
        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_IDnew" />

        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme" />


        <!-- Main App -->
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".registration.StartingScreen" />
        <activity android:name=".PurchaseCoins"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".encounters.Tinderswipemain"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Contacts" />
        <activity android:name=".ProfileView" />
        <activity android:name=".YoutubePlayerActivity"/>
        <activity android:name=".CreateAuditions"/>


        <!-- Razor Pay Integration -->
        <meta-data android:name="com.razorpay.ApiKey"
            android:value="rzp_test_FSoknm2lAIBB6U" />
        <activity android:name=".PaymentActivity" />

        <!-- Pop Ups -->
        <activity android:name=".FreeCoins"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".RefAndEarn"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".DailyCheckIn"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".DailyCheckIn2"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".VerifyYourself"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".PromoteProfilePopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".SubscribePopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".SubscribePopUp2"
            android:theme="@style/AppTheme.CustomTheme" />


        <!-- Settings -->
        <activity android:name=".Settings"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".AccountInfo"
            android:parentActivityName=".Settings"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".AboutUs"
            android:parentActivityName=".Settings"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".TermsConditions"
            android:parentActivityName=".AboutUs"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".PrivacyPolicy"
            android:parentActivityName=".AboutUs"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".ProfileViewEdit" />
        <activity android:name=".RateUs"
            android:theme="@style/AppTheme.CustomTheme" />

    </application>

</manifest>